{% extends 'base.twig' %}
{% block content %}
<h1 class="text-center">ToDoList {{name}}</h1>
  <h2 class="text-center text-success">TaskList</h2>
  <div class="card text-center">
      <div class="card-header bg-danger">
        Tâche
      </div>
    <div class="card-body">
      <h5 class="card-title "><U>{{task.title}}</U></h5>
        <p>{{task.description}}</p>
        <p>{{task.status}}</p>
          <a href="http://localhost/todo_list/public/" class="btn btn-success mb-5">Go Homepage</a>
        <br>
          <button type="button" class="btn btn-success  ">Valider</button>   
          <a href="http://localhost/todo_list/public/task/delete/{{task.id}}"><button type="button" class="btn btn-danger ">Supprimer</button></a>
          <a href="http://localhost/todo_list/public/task/update/{{task.id}}"><button type="button" class="btn btn-primary ">Modifier</button></a>
    </div>
  </div>               
{% endblock %}